.modal-review {
  position: relative;
  padding: 32px 24px;
  width: min(90%, 311px);
  height: min(95%, 471px);
  overflow-y: auto;

  border-radius: 15px;
  background-color: var(--color-background);

  transition: var(--duration-and-timing-function);

  @media (min-width: 768px) {
    padding: 40px;
    width: min(90%, 517px);
    height: min(95%, 628px);
  }
}

.modal-review-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 1.17;
  }
}

.modal-review-title-accent {
  color: var(--color-orange);
}

.modal-review-form {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.modal-review-input {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.modal-review-wrap-tel {
  position: relative;
}

.modal-review-input.modal-review-input-tel {
  padding-left: 106px;

  @media (min-width: 768px) {
    padding-left: 177px;
  }
}

.modal-review-wrap-code {
  position: absolute;
  top: 50%;
  left: 18px;

  display: flex;
  align-items: center;
  column-gap: 8px;

  padding-right: 8px;

  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.1);

  transform: translateY(-50%);

  @media (min-width: 768px) {
    column-gap: 18px;
    padding-right: 32px;
    box-shadow: 3px 0 0 0 rgba(0, 0, 0, 0.1);
  }
}

.modal-review-code-icon {
  width: 24px;
  height: 24px;

  @media (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
}

.modal-review-code-text {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.modal-review-textarea {
  margin-bottom: 4px;

  @media (min-width: 768px) {
    margin-bottom: none;
  }
}

.modal-review-form-btn {
  width: 93px;

  @media (min-width: 768px) {
    width: 117px;
  }
}
