.modal-subscribe {
  position: relative;
  padding: 201px 32px 24px;
  width: min(90%, 311px);
  height: min(95%, 350px);
  overflow-y: auto;

  border-radius: 15px;
  background-color: var(--color-background);

  transition: var(--duration-and-timing-function);

  @media (min-width: 768px) {
    padding: 236px 40px 40px;
    width: min(90%, 538px);
    height: min(95%, 412px);
  }

  background-repeat: no-repeat;
  background-image: url(/img/modal-subscribe/modal-subscribe-mob.webp);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/img/modal-subscribe/modal-subscribe-mob@2x.webp);
  }

  @media screen and (min-width: 768px) {
    background-image: url(/img/modal-subscribe/modal-subscribe-tab.webp);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/img/modal-subscribe/modal-subscribe-tab@2x.webp);
    }
  }
}

.modal-subscribe-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 1.17;
  }
}

.modal-subscribe-title-accent {
  color: var(--color-orange);
}

.modal-subscribe-form {
  position: relative;
}

.modal-subscribe-input.input {
  padding-right: 50px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  border-radius: 25px;

  @media (min-width: 768px) {
    padding-right: 23px;
    width: 313px;
    height: 52px;
    font-size: 18px;
    line-height: 1.29;
  }
}

.modal-subscribe-form-btn.button {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 100px;
  height: 45px;

  @media (min-width: 768px) {
    width: 137px;
    height: 52px;
  }
}

.button-modal-subscribe-close {
  stroke: var(--color-white);
}
