.modal-buy-now {
  position: relative;
  padding: 32px 24px;
  width: min(90%, 311px);
  height: min(95%, 994px);
  overflow-y: auto;

  border-radius: 15px;
  background-color: var(--color-background);

  transition: var(--duration-and-timing-function);

  @media (min-width: 768px) {
    padding: 48px;
    width: min(90%, 609px);
    height: min(95%, 1058px);
  }
}

.modal-buy-now-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.modal-buy-now-title-accent {
  color: var(--color-orange);
}

.modal-buy-now-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    flex-direction: row;
    column-gap: 16px;
    margin-bottom: 40px;
  }
}

.modal-buy-now-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  height: 85px;
  background: var(--color-white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;

  @media (min-width: 768px) {
    flex-direction: column;
    height: 196px;
    padding: 24px 20px 18px;
  }
}

.modal-buy-now-item-img {
}

.modal-buy-now-item-btn {
  width: 73px;
  height: 29px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  background: var(--color-background);
  color: var(--color-dark);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;

  &:hover,
  &focus {
    border-color: var(--color-orange);
  }

  @media (min-width: 768px) {
    width: 96px;
    height: 33px;
  }
}

.modal-buy-now-form {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.modal-buy-now-form-label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.modal-buy-now-wrap-personal {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  @media (min-width: 768px) {
    flex-direction: row;
    column-gap: 21px;
  }
}

.modal-buy-now-input {
}

.modal-buy-now-wrap-tel {
  position: relative;
}

.modal-buy-now-input.modal-buy-now-input-tel {
  padding-left: 106px;

  @media (min-width: 768px) {
    padding-left: 177px;
  }
}

.modal-buy-now-wrap-code {
  position: absolute;
  top: 50%;
  left: 18px;

  display: flex;
  align-items: center;
  column-gap: 8px;

  padding-right: 8px;

  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.1);

  transform: translateY(-50%);

  @media (min-width: 768px) {
    column-gap: 18px;
    padding-right: 32px;
    box-shadow: 3px 0 0 0 rgba(0, 0, 0, 0.1);
  }
}

.modal-buy-now-code-icon {
  width: 24px;
  height: 24px;

  @media (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
}

.modal-buy-now-code-text {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.modal-buy-now-wrap-card {
  position: relative;
}

.modal-buy-now-card-icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);

  width: 31px;
  height: 21px;

  @media (min-width: 768px) {
    right: 24px;
    width: 44px;
    height: 30px;
  }
}

.modal-buy-now-form-btn {
  width: 109px;

  @media (min-width: 768px) {
    width: 133px;
  }
}
