<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-info-wrap">
      <h2 class="footer-title">
        Chocolate<span class="footer-title-accent">
          a delicious cure for a bad day</span>
      </h2>
      <div class="footer-contacts">
        <p class="footer-contacts-title">Contact us</p>
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <a href="tel:+380440000000" class="footer-contacts-link">+380 (68) 443-94-26</a>
          </li>
          <li class="footer-contacts-item">
            <a href="mailto:simplychoc@gmail.com" class="footer-contacts-link">simplychoc@gmail.com</a>
          </li>
        </ul>
      </div>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a class="footer-social-link" href="https://www.instagram.com/" rel="noopener noreferrer nofollow"
            target="_blank">
            <svg class="footer-social-icon" width="22" height="22">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link" href="https://twitter.com/" rel="noopener noreferrer nofollow" target="_blank">
            <svg class="footer-social-icon" width="22" height="22">
              <use href="/img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>


    </div>

    <ul class="footer-menu">
      <li class="footer-menu-item">
        <a href="#header" class="footer-menu-link">Home</a>
      </li>
      <li class="footer-menu-item">
        <a href="#how-made" class="footer-menu-link">How it’s made?</a>
      </li>
      <li class="footer-menu-item">
        <a href="#our-products" class="footer-menu-link">Our products</a>
      </li>
      <li class="footer-menu-item">
        <a href="#top-sellers" class="footer-menu-link">Top sellers</a>
      </li>
      <li class="footer-menu-item">
        <a href="#reviews" class="footer-menu-link">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</footer>