<header id="header" class="header-section">
  <div class="container header-container">
    <a class="header-logo-link" href="./index.html">
      <div class="header-logo-text"><span class="header-logo-italic">simply</span> chocolate</div>
      <svg class="header-logo-icon">
        <use href="/img/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#header">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#how-made">How it’s made?</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#our-products">Our products</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social-list">
      <li class="header-social-item">
        <a class="header-social-link" href="https://www.instagram.com/" target="_blank"
          rel="noopener noreferrer nofollow" aria-label="instagram">
          <svg class="header-social-icon">
            <use href="/img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a class="header-social-link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer nofollow"
          aria-label="twitter">
          <svg class="header-social-icon">
            <use href="/img/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="mobile-menu-open js-modal-open" data-modal-open="mobile-menu" type="button">
      <svg class="mobile-menu-icon">
        <use href="/img/icons.svg#mob-menu-open"></use>
      </svg>
    </button>
  </div>
</header>