<section class="hero-section container">
  <div class="hero-container">
    <h2 class="hero-title visually-hidden">Hero</h2>
    <div class="hero-wrap">
      <p class="hero-text">
        Treat yourself or a loved one
        to our finest ingredients for a moment of pure delight!
      </p>
    </div>
    <div class="hero-wrap-button">
      <button type="button" class="button js-modal-open" data-modal-open="modal-buy-now">
        Buy now
      </button>
      <a class="button button-transparent how-made-link" href="#how-made">
        How it’s made
      </a>
      <a class="hero-scroll-link" href="#footer">
        <p class="hero-scroll-text">scroll down</p>
        <div class="hero-scroll-icon-wrap">
          <svg class="hero-scroll-icon">
            <use href="./img/icons.svg#scroll"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>