<!-- Section how-it's-made -->

<section class="section-how-made">
  <div class="container how-made-container">
    <h2 class="how-made-title" id="how-made">
      hOW IT’S
      <span class="how-made-title-accent">made?</span>
    </h2>
    <div class="how-made-wrap">
      <div class="how-made-video-wrap">
        <iframe class="how-made-video" src="https://www.youtube.com/embed/70FFS9P-wVw" title="Made to Melt You"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="how-made-descr-wrap">
        <h3 class="how-made-subtitle">Try our chocolates today and discover the perfect balance of flavor</h3>
        <ul class="how-made-list">
          <li class="how-made-item">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa
            powder.
          </li>
          <li class="how-made-item">At the same time, prepare a water bath. Melt the butter on it.</li>
          <li class="how-made-item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a
            silicone
            spatula
            so that the mass
            becomes
            uniform and silky.</li>
          <li class="how-made-item">Heat the mixture over low heat, letting it barely boil.</li>
          <li class="how-made-item">Pour the chocolate into special containers (can be replaced with ice molds).
            Allow
            to
            cool and harden.</li>
        </ul>
      </div>
    </div>
  </div>
</section>