<!-- mobile menu-->

<div class="mobile-menu-backdrop js-menu-container">
  <div class="mobile-menu">
    <button type="button" class="button-mobile-menu-close js-close-menu">
      <svg class="mobile-menu-close-icon">
        <use href="/img/icons.svg#btn-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a class="nav-mobile-link" href="#header">Home</a>
      </li>
      <li class="mobile-menu-item">
        <a class="nav-mobile-link" href="#how-made">How it’s made?</a>
      </li>
      <li class="mobile-menu-item">
        <a class="nav-mobile-link" href="#our-products">Our products</a>
      </li>
      <li class="mobile-menu-item">
        <a class="nav-mobile-link" href="#top-sellers">Top sellers</a>
      </li>
      <li class="mobile-menu-item">
        <a class="nav-mobile-link" href="#reviews">Chocolate is loved</a>
      </li>
    </ul>
    <ul class="mobile-menu-social-list">
      <li class="mobile-menu-social-item">
        <a class="mobile-menu-social-link" href="https://www.instagram.com/" target="_blank"
          rel="noopener noreferrer nofollow">
          <svg class="mobile-menu-social-icon">
            <use href="/img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-mobile-list-item">
        <a class="mobile-menu-social-link" href="https://twitter.com/" target="_blank"
          rel="noopener noreferrer nofollow">
          <svg class="mobile-menu-social-icon">
            <use href="/img/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>