<!-- Modal mobile menu-->

<div class="mobile-menu js-menu-container">
  <div class="container menu-wrapper">
    <button type="button" class="mobile-menu-close js-close-menu">
      <svg class="mobile-menu-close-icon" width="28" height="28">
        <use href="/img/icons.svg#btn-close"></use>
      </svg>
    </button>
    <ul class="nav-menu-mobile list">
      <li class="nav-mobile-item">
        <a class="nav-mobile-link link" href="#home">Home</a>
      </li>
      <li class="nav-mobile-item">
        <a class="nav-mobile-link link" href="#how-made">How it’s made?</a>
      </li>
      <li class="nav-mobile-item">
        <a class="nav-mobile-link link" href="#products">Our products</a>
      </li>
      <li class="nav-mobile-item">
        <a class="nav-mobile-link link" href="#sellers">Top sellers</a>
      </li>
      <li class="nav-mobile-item">
        <a class="nav-mobile-link link" href="#chocolate">Chocolate is loved</a>
      </li>
    </ul>
    <div class="mobile-menu-container">
      <ul class="social-mobile-list list">
        <li class="social-mobile-list-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="social-mobile-list-link link"
          >
            <svg class="social-mobile-list-instagram" width="22" height="22">
              <use href="/img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-mobile-list-item">
          <a
            href="https://twitter.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="social-mobile-list-link link"
          >
            <svg class="social-mobile-list-twitter" width="20" height="20">
              <use href="/img/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
