<div class="modal-backdrop js-modal-backdrop" id="modal-subscribe">
  <div class="modal-subscribe">
    <h2 class="modal-subscribe-title">Explore our<br><span class="modal-review-title-accent">new chocolate</span> first!
    </h2>

    <form class="modal-subscribe-form" id="subscribeForm" name="modal-subscribe-form" autocomplete="off" novalidate>
      <label class="modal-subscribe-form-label visually-hidden" for="email">Email</label>
      <input class="modal-subscribe-input input" id="email" type="email" name="email" placeholder="Enter your email"
        required>
      <button class="modal-subscribe-form-btn button" type="submit">Submit</button>
    </form>

    <button type="button" class="button-modal-close button-modal-subscribe-close js-modal-close" data-modal-close>
      <svg class="modal-close-icon">
        <use href="/img/icons.svg#btn-close"></use>
      </svg>
    </button>
  </div>
</div>