<section id="our-products" class="section-our-products">
  <div class="container our-products-container">
    <h2 class="our-products-title">
      Our
      <span class="our-products-title-accent">PRODUCTS</span>
    </h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide our-products-item">
          <img class="our-products-item-image" srcset="
                ./img/our-products/orange.png    1x,
                ./img/our-products/orange@2x.png 2x
              " src="./img/our-products/orange.png" alt="Orange-chokolate" width="230" height="201" />
          <h3 class="our-products-item-title">orange</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <button class="button-grey" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide our-products-item">
          <img class="our-products-item-image" srcset="
                ./img/our-products/apple.png    1x,
                ./img/our-products/apple@2x.png 2x
              " src="./img/our-products/apple.png" alt="Apple-chokolate" width="230" height="201" />
          <h3 class="our-products-item-title">APPLE&CRANBERRY</h3>
          <p class="our-products-item-text">Milk chocolate</p>
          <button class="button-grey" type="button">50 UAH</button>
        </li>
        <li class="swiper-slide our-products-item">
          <img class="our-products-item-image" srcset="
                ./img/our-products/lime.png    1x,
                ./img/our-products/lime@2x.png 2x
              " src="./img/our-products/lime.png" alt="Lime-chokolate" width="230" height="201" />
          <h3 class="our-products-item-title">lime&sea salt</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <button class="button-grey" type="button">66 UAH</button>
        </li>
        <li class="swiper-slide our-products-item">
          <img class="our-products-item-image" srcset="
                ./img/our-products/pineapple.png    1x,
                ./img/our-products/pineapple@2x.png 2x
              " src="./img/our-products/pineaple.png" alt="PineApple-chokolate" width="230" height="201" />
          <h3 class="our-products-item-title">pineapple</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <button class="button-grey" type="button">54 UAH</button>
        </li>
        <li class="swiper-slide our-products-item">
          <img class="our-products-item-image" srcset="
                ./img/our-products/classic-milk.png    1x,
                ./img/our-products/classic-milk@2x.png 2x
              " src="./img/our-products/classic-milk.png" alt="Classic-milk-chokolate" width="230" height="201" />
          <h3 class="our-products-item-title">Classic</h3>
          <p class="our-products-item-text">Milk chocolate</p>
          <button class="button-grey" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide our-products-item">
          <img class="our-products-item-image" srcset="
                ./img/our-products/honey.png    1x,
                ./img/our-products/honey@2x.png 2x
              " src="./img/our-products/honey.png" width="230" height="201" />
          <h3 class="our-products-item-title">honey</h3>
          <p class="our-products-item-text">Milk chocolate</p>
          <button class="button-grey" type="button">50 UAH</button>
        </li>
        <li class="swiper-slide our-products-item">
          <img class="our-products-item-image" srcset="
                ./img/our-products/roasted.png    1x,
                ./img/our-products/roasted@2x.png 2x
              " src="./img/our-products/roasted.png" alt="Roasted-chokolate" width="230" height="201" />
          <h3 class="our-products-item-title">Roasted fruits</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <button class="button-grey" type="button">66 UAH</button>
        </li>
        <li class="swiper-slide our-products-item">
          <img class="our-products-item-image" srcset="
                ./img/our-products/classic-white.png    1x,
                ./img/our-products/classic-white@2x.png 2x
              " src="./img/our-products/classic-white.png" alt="Classic-white-chokolate" width="230" height="201" />
          <h3 class="our-products-item-title">Classic</h3>
          <p class="our-products-item-text">White chocolate</p>
          <button class="button-grey" type="button">54 UAH</button>
        </li>
      </ul>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

    </div>
  </div>
</section>