<section id="top-sellers" class="section-top-sellers">
  <div class="container">
    <h2 class="top-sellers-title">
      <span class="top-sellers-title-accent">Top</span> Sellers
    </h2>
    <ul class="top-sellers-list">
      <li class="top-sellers-item">
        <picture>
          <source srcset="/img/top-sellers/top-1-desk.webp 1x, /img/top-sellers/top-1-desk@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source srcset="/img/top-sellers/top-1-tab.webp 1x, /img/top-sellers/top-1-tab@2x.webp 2x"
            media="(min-width: 768px)" />
          <source srcset="/img/top-sellers/top-1-mob.webp 1x, /img/top-sellers/top-1-mob@2x.webp 2x" />
          <img src="/img/top-sellers/top-1-mob.webp" alt="nut and chocolate" class="top-sellers-img" loading="lazy" />
        </picture>
      </li>
      <li class="top-sellers-item">
        <picture>
          <source srcset="/img/top-sellers/top-2-desk.webp 1x, /img/top-sellers/top-2-desk@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source srcset="/img/top-sellers/top-2-tab.webp 1x, /img/top-sellers/top-2-tab@2x.webp 2x"
            media="(min-width: 768px)" />
          <source srcset="/img/top-sellers/top-2-mob.webp 1x, /img/top-sellers/top-2-mob@2x.webp 2x" />
          <img src="/img/top-sellers/top-2-mob.webp" alt="nut and chocolate" class="top-sellers-img" loading="lazy" />
        </picture>
      </li>
      <li class="top-sellers-item">
        <picture>
          <source srcset="/img/top-sellers/top-3-desk.webp 1x, /img/top-sellers/top-3-desk@2x.webp 2x"
            media="(min-width: 1200px)" />
          <source srcset="/img/top-sellers/top-3-tab.webp 1x, /img/top-sellers/top-3-tab@2x.webp 2x"
            media="(min-width: 768px)" />
          <source srcset="/img/top-sellers/top-3-mob.webp 1x, /img/top-sellers/top-3-mob@2x.webp 2x" />
          <img src="/img/top-sellers/top-3-mob.webp" alt="nut and chocolate" class="top-sellers-img" loading="lazy" />
        </picture>
      </li>
      <p class="top-sellers-item top-sellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="top-sellers-item button" type="button">
        Buy now
      </button>
    </ul>
  </div>
</section>