<section class="section-components">
  <div class="container">
    <h2 class="components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="components-title-accent">TASTE</span> SENSATION
    </h2>
    <p class="components-description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="components-list">
      <li class="components-item">
        <div class="components-card-wrap">
          <div class="components-card-front card-front-orange">
            <picture>
              <source
                srcset="/img/unique-components/chocolate-desk.png 1x, /img/unique-components/chocolate-desk@2x.png 2x"
                media="(min-width: 1200px)" />
              <source srcset="/img/unique-components/chocolate.png 1x, /img/unique-components/chocolate@2x.png 2x" />
              <img src="/img/unique-components/chocolate.png" alt="chocolate" class="components-img" loading="lazy" />
            </picture>
            <p class="components-txt-white">MILK CHOCOLATE</p>
          </div>
          <div class="components-card-back">
            <h3 class="components-card-back-subtitle">Milk chocolate</h3>
            <ul class="components-btn-list">
              <li>
                <button class="components-btn-item button" type="button">
                  chocolate
                </button>
              </li>
              <li>
                <button class="components-btn-item button button-transparent" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="components-back-txt">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of
              chocolate. Chocolate was originally sold and consumed as a
              beverage in pre-Columbian times. Although four-fifths of all
              milk chocolate is sold in the United States and Europe.
            </p>
          </div>
        </div>
      </li>
      <li class="components-item">
        <div class="components-card-wrap">
          <div class="components-card-front card-front-white">
            <picture>
              <source srcset="/img/unique-components/milk-desk.png 1x, /img/unique-components/milk-desk@2x.png 2x"
                media="(min-width: 1200px)" />
              <source srcset="/img/unique-components/milk.png 1x, /img/unique-components/milk@2x.png 2x" />
              <img src="/img/unique-components/milk.png" alt="chocolate" class="components-img" loading="lazy" />
            </picture>

            <p class="components-txt-black">MILK</p>
          </div>
          <div class="components-card-back">
            <h3 class="components-card-back-subtitle">Milk</h3>
            <ul class="components-btn-list">
              <li>
                <button class="components-btn-item button" type="button">
                  milk
                </button>
              </li>
              <li>
                <button class="components-btn-item button button-transparent" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="components-back-txt">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to
              digest solid food.Early-lactation milk, which is called
              colostrum, contains antibodies that strengthen the immune
              system.
            </p>
          </div>
        </div>
      </li>
      <li class="components-item">
        <div class="components-card-wrap">
          <div class="components-card-front card-front-black">
            <picture>
              <source srcset="/img/unique-components/nuts-desk.png 1x, /img/unique-components/nuts-desk@2x.png 2x"
                media="(min-width: 1200px)" />
              <source srcset="/img/unique-components/nuts.png 1x, /img/unique-components/nuts@2x.png 2x" />
              <img src="/img/unique-components/nuts.png" alt="chocolate" class="components-img" loading="lazy" />
            </picture>

            <p class="components-txt-white">NUTS</p>
          </div>
          <div class="components-card-back">
            <h3 class="components-card-back-subtitle">nuts</h3>
            <ul class="components-btn-list">
              <li>
                <button class="components-btn-item button" type="button">
                  nuts
                </button>
              </li>
              <li>
                <button class="components-btn-item  button button-transparent" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="components-back-txt">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a
              nutrient-dense diet, these 9 nuts may offer benefits such as
              reducing your risk of heart disease. They’re a good source of
              fiber, healthy fats, and plant protein. Plus, they’re great on
              their own.
            </p>
          </div>
        </div>
      </li>
      <li class="components-item components-item-last">
        <div class="components-card-wrap">
          <div class="components-card-front card-front-white">
            <picture>
              <source srcset="/img/unique-components/semi-desk.png 1x, /img/unique-components/semi-desk@2x.png 2x"
                media="(min-width: 1200px)" />
              <source srcset="/img/unique-components/semi.png 1x, /img/unique-components/semi@2x.png 2x" />
              <img src="/img/unique-components/semi.png" alt="chocolate" class="components-img" loading="lazy" />
            </picture>
            <p class="components-txt-black">SEMI - SWEET CHOCOLATE</p>
          </div>
          <div class="components-card-back">
            <h3 class="components-card-back-subtitle">SEMI - SWEET CHOCOLATE</h3>
            <ul class="components-btn-list">
              <li>
                <button class="components-btn-item button" type="button">
                  sweet chocolate
                </button>
              </li>
              <li>
                <button class="components-btn-item button button-transparent" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="components-back-txt">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison,
              it has a slightly bitter taste whereas milk chocolate is
              sweeter.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>