html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  font-style: normal;
  letter-spacing: -0.02em;
  background-color: var(--color-background);
  color: var(--color-black);
}

.container {
  max-width: 375px;

  padding-inline: 20px;
  margin-inline: auto;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding-inline: 32px;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
