html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  font-style: normal;
  letter-spacing: -0.02em;
  background-color: var(--color-background);
  color: var(--color-black);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
