/* Section how-it's-made */

.section-how-made {
  margin-bottom: 72px;

  @media (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 128px;
  }
}

.container.how-made-container {
  @media (min-width: 768px) {
    padding-inline: 77px;
  }

  @media (min-width: 1200px) {
    padding-inline: 32px;
  }
}

.how-made-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);

  margin-bottom: 32px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;

    margin-bottom: 50px;
  }
}

.how-made-title-accent {
  color: var(--color-orange);
}

.how-made-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.how-made-video-wrap {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;

  flex-shrink: 0;

  @media (min-width: 768px) {
    height: 400px;
  }

  @media (min-width: 1200px) {
    flex-basis: 600px;
  }
}

.how-made-video {
  width: 100%;
  height: 100%;
  border: none;
}

.how-made-descr-wrap {
  width: 100%;
  padding: 20px 14px;
  background-color: var(--color-white);
  border-radius: 15px;

  @media (min-width: 768px) {
    padding: 32px;
  }
}

.how-made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;

  margin-bottom: 20px;
  color: var(--color-black);

  @media (min-width: 768px) {
    max-width: 350px;
    margin-bottom: 28px;
  }
}

.how-made-list {
  padding-left: 16px;

  @media (min-width: 768px) {
    max-width: 480px;
  }

  @media (min-width: 1200px) {
    max-width: 426px;
  }
}

.how-made-item {
  position: relative;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: var(--black);

  &:not(:last-child) {
    margin-bottom: 18px;

    @media (min-width: 1200px) {
      margin-bottom: 24px;
    }
  }

  &:before {
    content: '';

    position: absolute;
    top: 5px;
    left: -16px;

    width: 8px;
    height: 8px;
    border-radius: 50%;

    background: #4c4c4c;
    border: 1px solid #eceded;
  }
}
