/* mobile menu */

.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  pointer-events: none;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.mobile-menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  pointer-events: auto;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 220px;
  height: 100%;
  padding: 136px 20px 20px 20px;

  background-color: var(--color-dark);

  @media (min-width: 768px) {
    width: 290px;
    padding: 156px 32px 24px 32px;
  }
}

.button-mobile-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  stroke: var(--color-white);
  border-radius: 50%;

  &:hover,
  &:focus {
    stroke: var(--color-orange);
  }

  @media (min-width: 768px) {
    top: 24px;
    right: 32px;
  }
}

.mobile-menu-close-icon {
  width: 28px;
  height: 28px;

  @media (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding-left: 30px;

  @media (min-width: 768px) {
    padding-left: 53px;
  }
}

.nav-mobile-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.02em;
  position: relative;
  color: var(--color-white);

  @media (min-width: 768px) {
  }

  &:hover,
  &:focus {
    color: var(--color-orange);
  }
}

.mobile-menu-social-list {
  display: flex;
  align-items: center;
  gap: 18px;
}

.mobile-menu-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-social-icon {
  width: 22px;
  height: 22px;
  stroke: var(--color-white);
  fill: none;

  @media (min-width: 768px) {
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    stroke: var(--color-orange);
  }
}
