/* Section our-products */

.section-our-products {
  margin-bottom: 72px;
  background-color: var(--white-color);

  @media (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 128px;
  }
}

.container.our-products-container {
  @media (min-width: 768px) and (max-width: 1199px) {
    padding-right: 0;
  }
}

.our-products-title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-black);

  @media (min-width: 768px) {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}

.our-products-title-accent {
  color: var(--color-orange);
}

.swiper {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 20px;
}

.swiper-wrapper {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.swiper-slide.our-products-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  height: 364px;

  @media only screen and (min-width: 768px) {
    width: 270px;
    flex-shrink: 0;
  }
}

.our-products-item-image {
  margin-bottom: 8px;
}

.our-products-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 2px;

  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.our-products-item-text {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.swiper-pagination.swiper-pagination-bullets {
  position: static;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-orange);
  width: 28px;
  height: 13px;
  border-radius: 50px;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-width: 13px;
  --swiper-pagination-bullet-height: 13px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}
