/* @import url('../../node_modules/modern-normalize/modern-normalize.css'); */
@import url('./reset.css');
@import url('./fonts.css');

@import url('./header.css');
@import url(./hero.css);
@import url(./advantages.css);
@import url(./unique-components.css);
@import url(./how-made.css);
@import url(./our-products.css);
/* @import url(./sellers.css); */
/* @import url(./reviews.css); */
/* @import url(./subscribe.css); */
/* @import url(./footer.css); */

:root {
  --color-black: #111111;
  --color-dark: #1e1823;
  --color-orange: #fd9222;
  --color-button-hover: #fcf1e0;
  --color-white: #ffffff;
  --color-background: #fafafa;

  --font-family-base: 'Montserrat', sans-serif;

  --transition-duration: 0.4s;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  font-style: normal;
  letter-spacing: -0.02em;
  background-color: var(--color-background);
  color: var(--color-black);
}

.container {
  max-width: 375px;

  padding-inline: 20px;
  margin-inline: auto;

  outline: 1px solid red;
  outline-offset: -1px;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding-inline: 32px;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.button {
  display: inline-flex;
  align-items: center;
  height: 41px;
  padding-inline: 28px;
  border-radius: 100px;
  background-color: var(--color-orange);

  font-weight: 600;
  font-size: 14px;
  color: var(--color-white);

  @media (min-width: 768px) {
    height: 45px;
    padding-inline: 40px;
  }

  &:hover,
  &:focus {
    background-color: var(--color-button-hover);
    color: var(--color-orange);
  }
}

.button-transparent {
  background-color: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);

  &:hover,
  &:focus {
    background-color: transparent;
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
  }
}

.button-grey {
  display: inline-flex;
  align-items: center;
  height: 33px;
  padding-inline: 20px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  background-color: var(--color-background);
  cursor: auto;

  font-weight: 600;
  font-size: 14px;

  /* &:hover,
  &:focus {
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
  } */
}
