@import url('./modern-normalize.css');
@import url('./reset.css');
@import url('./fonts.css');
@import url('./variables.css');
@import url('./global.css');

/* sections */
@import url('./components/sections/header.css');
@import url(./components/sections/hero.css);
@import url(./components/sections/advantages.css);
@import url(./components/sections/unique-components.css);
@import url(./components/sections/how-made.css);
@import url(./components/sections/our-products.css);
@import url(./components/sections/top-sellers.css);
@import url(./components/sections/reviews.css);
@import url(./components/sections/subscribe.css);
@import url(./components/sections/footer.css);

/* general components */
@import url('./components/general-components/buttons.css');
@import url('./components/general-components/input.css');
@import url('./components/general-components/swiper.css');

/* utils */
@import url('./utils.css');

/* modals */
@import url(./components/modals/mobile-menu.css);
@import url(./components/modals/modal.css);
@import url(./components/modals//modal-buy-now.css);
@import url(./components/modals//modal-review.css);
@import url(./components/modals//modal-subscribe.css);
